<div class="">

  <div class="masthead clearfix">
    <div class="inner">
      <nav class="navbar-inverse" data-spy="affix" data-offset-top="197">
        <ul class="nav masthead-nav">
          <li><img src="http://mistergo.fr/wp-content/uploads/2016/01/Untitled-6.gif"></li>
          <li class="active"><a href="#">FONCTIONNEMENT</a></li>
          <li><a href="#">SERVICES</a></li>
          <li><a href="#">TARIFS</a></li>
          <li><a href="#">RESERVATION</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="inner cover cover-container">
    <h1 class="cover-heading center"><img src="http://mistergo.fr/wp-content/uploads/2016/01/Untitled-5.gif"></h1>
    <p class="lead center">VOTRE CHAUFFEUR PRIVE</p>
    <p class="lead center">
      Service de transport privatisé, à la demande
    </p>
  </div>

  <div class="mastfoot">
    <div class="inner">
    </div>
  </div>

</div>

      </div>

    </div>
    <div class="container-fluid site-wrapper">
      <h1 class="center top">FONCTIONNEMENT</h1>
      <section class="row padding-top">
        <div class="col-lg-4 center">
          <img src="http://mistergo.fr/wp-content/uploads/2016/01/text.gif">
          <h3 class="top">CONTACTER</h3>
          <pclass="color">
          Tout commence ici, pour beneficier des services de Mister GO il vous suffit de le contacter via ce site en précisant la nature du service souhaité (courses classiques, tourisme, a la demande), l'heure et le lieu de prise en charge ainsi que la destination. Mister GO vous repondra dans les plus brefs delais pour convenir d'un rendez vous.

        </p>
      </div>
      <div class="col-lg-4 center">
        <img src="http://mistergo.fr/wp-content/uploads/2016/01/calendar.gif">
        <h3 class="top">RENDZ VOUS</h3>
        <p class="color">
          Vous avez contacté Mister GO pour ses services et celui-ci vous repond pour vous donner les informations necessaires au bon déroulement de la course. Un devis sera communiqué lors de cette etape. A vous de confirmer ou non la course
        </p>
      </div>
      <div class="col-lg-4 center">
        <img src="http://mistergo.fr/wp-content/uploads/2016/01/car.gif">
        <h3 class="top">VOTRE COURSE</h3>
        <p class="color">
          Ca y est, vous êtes dans le véhicule, profitez du voyage. Le paiement se fera sur place.
        </p>
      </div>
    </section>	
  </div>
  <div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
      <div class="item active">
        <!-- Set the first background image using inline CSS below. -->
        <div class="fill" style="background-image:url('http://mistergo.fr/wp-content/uploads/2016/01/slider.gif');"></div>
        <div class="container caption color1">
          <p class="small font-size">Nos Services</p>
          <p class="small font-size2">VTC CLASSIQUE</p>
          <br><br>
          <p>Le service de VTC on ne peut plus classique. Mister GO vous conduira<br> d'un point A à un point B dans une berline tout confort. </p>
          <br><br>
          <div class="left"><button type="button" class="btn btn-default">RESERVEZ MAINTENANT</button></div>
        </div>
      </div>
      <div class="item">
        <!-- Set the second background image using inline CSS below. -->
        <div class="fill" style="background-image:url('http://mistergo.fr/wp-content/uploads/2016/01/slider.gif');"></div>
        <div class="container caption color1">
          <p class="small font-size">Nos Services</p>
          <p class="small font-size2">Tourisme</p>
          <br><br>
          <p>Mister GO vous sert de chauffeur si vous souhaitez visiter les principaux monuments de Paris<br> et sa region en une journée.<br> Il vous recupere a votre hôtel et vous accompagne tout le long de votre periple touristique<br> pour finalement vous ramener a votre lieu de villegiature </p>
          <br><br>
          <div class="left"><button type="button" class="btn btn-default">RESERVEZ MAINTENANT</button></div>
        </div>
      </div>
      <div class="item">
        <!-- Set the third background image using inline CSS below. -->
        <div class="fill" style="background-image:url('http://mistergo.fr/wp-content/uploads/2016/01/slider.gif');"></div>
        <div class="container caption color1">
          <p class="small font-size">Nos Services</p>
          <p class="small font-size2">À la demande</p>
          <br><br>
          <p>Une demande speciale ? Avoir un chauffeur pour un mariage par exemple,<br> c'est possible. Mister Go peut vous proposer ce genre de service, il suffit de le contacter.</p>
          <br><br>
          <div class="left"><button type="button" class="btn btn-default">RESERVEZ MAINTENANT</button></div>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
    </a>

  </div>

  <div class="container-fluid site-wrapper">
    <h1 class="center top">EXEMPLE DE TARIFS</h1>
    <h3 class="center top">Le prix de la course vous sera toujours communique avant la prise en charge, aucune mauvaise surprise possible.</h3>
    <p class="center top"><img src="http://mistergo.fr/wp-content/uploads/2016/01/logo.gif"></p>
    <div class="row top">
      <div class="col-lg-4 center">
        <h3 class="top">VOTRE COURSE</h3>
        <p class="color">
          Ca y est, vous êtes dans le véhicule, profitez du voyage. Le paiement se fera sur place.
        </p>
        <p>Bastille >> Neuilly</p>
        <h1>18-20€</h1>
      </div>
      <div class="col-lg-4 center">
        <h3 class="top">VOTRE COURSE</h3>
        <p class="color">
          Ca y est, vous êtes dans le véhicule, profitez du voyage. Le paiement se fera sur place.
        </p>
        <p>Bastille >> Neuilly</p>
        <h1>18-20€</h1>
      </div>
      <div class="col-lg-4 center">
        <h3 class="top">VOTRE COURSE</h3>
        <p class="color">
          Ca y est, vous êtes dans le véhicule, profitez du voyage. Le paiement se fera sur place.
        </p>
        <p>Bastille >> Neuilly</p>
        <h1>18-20€</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid site-wrapper">
    <div class="center background3" >
      <p class="color1 top1 font-size3">CONTACT</p>
      <div class="row">
        <div class="col-lg-1 col-lg-offset-5 top">
          <p class="color1">TÉLÉPHONE</p>
          <p class="color1">00000000</p>
        </div>
        <div class="col-lg-1 top">
          <p class="color1">MAIL</p>
          <p class="color1">contact@mistergo.fr</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5 ">
          <p class="color1">
            VIA NOTRE FORMULAIRE
          </p>
          <form method=POST action="traitement.php">
            <p><input type="text" name="nom" placeholder="nom et prénom *"></p>
            <p><input type="mail" name="email" placeholder="email *"></p>
            <p><input type="tel" name="numtel" placeholder="numéro de tél"></p>
            <p><select name="services" placeholder="votre demande">
                <option value="classique">VTC classique</option>
                <option value="Tourisme">Tourisme</option>
                <option value="ondemand">À la demande</option>
              </select>
            </p>
            <p><textarea name="message" id="message" rows="7" cols="20" class="form-control">Votre message</textarea></p>
            <button type="submit" class="btn btn-primary">Envoyer</button>
          </form>
        </div>
      </div>

